
<hr>

<div class="row justify-content-center" style="margin-top: 5%;">
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
      <div class="card-body">
          <img class="card-img-top" src="<%= @user.image1.url(:medium) %>" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
      <div class="card-body">
        <%if @post.comments.count > 5%>
          <img class="card-img-top" src="<%= @user.image2.url(:medium) %>" alt="Card image cap">
        <%end%>
            <div class="card-body">
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
      <div class="card-body">
        <%if @post.comments.count > 10%>
          <img class="card-img-top" src="<%= @user.image3.url(:medium) %>" alt="Card image cap">
        <%end%>
            <div class="card-body">
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
      <div class="card-body">
        <%if @post.comments.count > 15%>
          <img class="card-img-top" src="<%= @user.image4.url(:medium) %>" alt="Card image cap">
        <%end%>
            <div class="card-body">
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
      <div class="card-body">
        <%if @post.comments.count > 20%>
          <img class="card-img-top" src="<%= @user.image5.url(:medium) %>" alt="Card image cap">
        <%end%>
            <div class="card-body">
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
