<h3 style="color:white">Today's Pieces</h3>

<div class="row justify-content-center" style="margin-top: 5%;">
  <% @users.each do |user| %>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
      <div class="card-body">
        <img class="card-img-top" src="<%= user.image1.url(:medium) %>" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <%= user.nickname %><br>
            <%= user.email %><br>
            <%= user.sex %><br>
            <a href="/my_page/<%= user.id%>" class="btn btn-primary">Go somewhere</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
