<h1> this is my page </h1>

<hr>

<div class="row justify-content-center" style="margin-top: 5%;">
  	<div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image1_file_name %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image2_file_name %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image3_file_name %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image4_file_name %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image5_file_name %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>  
</div>

<hr>
<h1>This is comment</h1>

