<<<<<<< HEAD
<h1> this is my page </h1>

<hr>

<div class="row justify-content-center" style="margin-top: 5%;">
  	<div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image1.url(:medium) %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image2.url(:medium) %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image3.url(:medium) %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image4.url(:medium) %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
    <div class="card mb-3" style="width: 18rem; margin: 10px 10px;">
   		<div class="card-body">
        	<img class="card-img-top" src="<%= @user.image5.url(:medium) %>" alt="Card image cap">
        		<div class="card-body">
	          		<p class="card-text">
	          		</p>
        		</div>
      	</div>
    </div>
</div>
<hr>
=======
<h1> 조각조각 모아봅시다 </h1>
<%= render 'normalpage'%>
>>>>>>> 8cf347641526556f474559d0760b7933f84b3351

<h1>This is Apply</h1><br>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
