<h2 style="color: white"> 대화를 나눠보세용 >_< </h2>
<%= render 'normalpage'%>

<p id="notice"><%= notice %></p>

<p style="color: white">
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<div id="comments">
  <h3 style = "color:#F8CDE9"><%= @post.comments.count %>&nbsp Comments</h3>
  <%= render @post.comments %>
</div>


<h3>Add comments</h3>
<% if user_signed_in? %>
  <% if @post.this_user_id == current_user.id || @post.current_user_id == current_user.id %>
    <%= render 'comments/form' %>
  <% end %>
<% else %>
  <%= link_to '로그인하고 오세요^^', new_user_session_path %>
<% end %>

