<h2> 대화를 나눠보세용 >_< </h2>
<%= render 'normalpage'%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<div id="comments">
  <h2><%= @post.comments.count %>&nbsp Comments</h2>
  <%= render @post.comments %>
</div>



<h3>Add comments</h3>
<%= render 'comments/form' %>
<%= link_to 'Back', :back %>
